body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: radial-gradient(circle at 50% 80%, rgba(168, 85, 247, 0.3) 0%, transparent 70%), #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Libertinus Math", system-ui;
}

.main_container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 135px 1fr auto;
  color: #7c6a0a;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h2 {
  padding-left: 40px;
  font-size: 30px;
  font-weight: 400;
}
nav .header_logos {
  padding-right: 70px;
}
nav .icon-head {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 15px;
}
nav .icon-head img {
  height: 38px;
  width: 38px;
}

main h2 {
  font-weight: 400;
  font-size: 50px;
  padding-left: 80px;
  margin: 0;
}
main .first_section {
  display: flex;
  padding: 40px;
  margin-bottom: 100px;
}
main .first_section_title {
  padding-right: 130px;
  line-height: 40px;
}
main .first_section_title h1 {
  font-size: 60px;
  font-weight: 600;
}
main .first_section_title p {
  font-size: 25px;
  font-weight: 200;
  color: #ffefe7;
  margin-top: 20px;
}
main .first_section_img {
  height: 686px;
  width: 550px;
}
main .first_section_title button {
  height: 73px;
  width: 261px;
  text-decoration: none;
  border: none;
  border-radius: 35px;
  background-color: #fa9500;
  margin-top: 70px;
  cursor: pointer;
  color: #ffefe7;
  font-size: 23px;
  font-weight: 700;
}
main .health_section {
  width: 100%;
}
main .health_section-container, main .home_section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
main .target-second_section, main .target-home_section {
  background-color: #ffdac6;
  border-radius: 10px;
  width: 314px;
  height: 492px;
  margin-top: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .icon_heard, main .icon_heard_white {
  background: url(/assets/svg/heart_icon.svg) center/cover no-repeat;
  height: 19px;
  width: 23px;
  position: absolute;
  top: 30px;
  right: 20px;
}
main .description_text, main .description_text_home {
  margin: 2px 40px 2px 40px;
}
main .description_text p:nth-child(1), main .description_text_home p:nth-child(1) {
  font-size: 25px;
  font-weight: 600;
  padding-top: 10px;
  margin: 0;
}
main .description_text p:nth-child(2), main .description_text_home p:nth-child(2) {
  padding: 0;
  margin: 0;
  line-height: 18px;
  padding-top: 10px;
}
main .home_section {
  width: 100%;
  margin-top: 100px;
}
main .target-home_section {
  background-color: #babd8d;
}
main .icon_heard_white {
  background: url(/assets/svg/heart_white.svg) center/cover no-repeat;
}
main .description_text_home p:nth-child(1) {
  font-size: 25px;
  font-weight: 600;
  padding-top: 10px;
  margin: 0;
  color: #ffefe7;
}
main .description_text_home p:nth-child(2) {
  padding: 0;
  margin: 0;
  line-height: 18px;
  padding-top: 10px;
  color: #ffefe7;
}

footer {
  background-color: #fa9500;
}/*# sourceMappingURL=index.css.map */