$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stack: "Libertinus Math", system-ui;
$size_md: 500;
$size_m: 400;
$size_mg: 700;

@mixin flexCenter($direction, $content: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin gridCenter($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  place-items: center;
}

body {
  margin: 5px;
  padding: 0;
  min-height: 100vh;
  background: radial-gradient(
      circle at 50% 80%,
      rgba(168, 85, 247, 0.3) 0%,
      transparent 70%
    ),
    #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: $font-stack;
}

.main_container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 135px 1fr auto;
  color: $primary-text-color;
}

nav {
  @include flexCenter(row, space-between, center);

  .burger-options {
    display: none;
  }

  h2 {
    padding-left: 40px;
    font-size: 30px;
    font-weight: 400;
    font-size: 40px;
  }

  .header_logos {
    padding-right: 70px;
  }

  .icon-head {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;
  }

  .icon-head img {
    height: 38px;
    width: 38px;
  }

  @media (max-width: 500px) {
    .header_logos {
      display: none;
    }

    .burger-options {
      display: block;
      margin-right: 20px;
      width: 70px;
      height: 50px;
      background-color: transparent;
    }

    .burger-options button img {
      width: 50px;
      height: 50px;
      border: none;
    }
  }
}

main {
  h2 {
    font-size: 50px;
    width: 526px;
    padding-left: 80px;
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: $size_md;
    margin-top: 100px;
    box-shadow: 0px 9px 5px -4px rgba(255, 255, 255, 0.2);
  }

  .first_section {
    display: flex;
    padding: 40px;
    margin-bottom: 100px;
    margin: 0;
  }

  .first_section_title {
    padding-right: 130px;
    line-height: 40px;
  }

  .first_section_title h1 {
    font-size: 60px;
    font-weight: 600;
  }

  .first_section_title p {
    font-size: 25px;
    font-weight: 200;
    color: $primary-color;
    margin-top: 20px;
  }

  .first_section_img {
    height: 686px;
    width: 550px;
  }

  .first_section_title button {
    height: 73px;
    width: 261px;
    text-decoration: none;
    border: none;
    border-radius: 35px;
    background-color: #fa9500;
    margin-top: 70px;
    cursor: pointer;
    color: $primary-color;
    font-size: 23px;
    font-weight: $size_mg;
    &:hover {
      transform: scale(1.1);
    }
  }

  .health_section {
    width: 100%;
  }

  .health_section-container {
    @include gridCenter(3);
  }

  .target-second_section {
    background-color: $secondary-color;
    border-radius: 10px;
    width: 314px;
    height: 492px;
    margin-top: 100px;
    padding: 10px;
    @include flexCenter(column, center, center);
    position: relative;
    font-family: "IBM Plex Sans", sans-serif;
  }

  .icon_heard {
    background: url(../assets/svg/heart_icon.svg) center/cover no-repeat;
    height: 19px;
    width: 23px;
    position: absolute;
    top: 30px;
    right: 20px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }

  .description_text {
    margin: 2px 40px 2px 40px;
  }

  .description_text p:nth-child(1) {
    font-size: 25px;
    font-weight: 600;
    padding-top: 10px;
    margin: 0;
  }

  .description_text p:nth-child(2) {
    padding: 0;
    margin: 0;
    font-weight: $size_m;
    line-height: 18px;
  }

  .home_section {
    width: 100%;
    margin-top: 100px;
    @include flexCenter(column, center, center);
  }

  .home_section-container {
    @extend .health_section-container;
    width: 100%;
  }

  .target-home_section {
    @extend .target-second_section;
    background-color: $tertiary-color;
  }

  .icon_heard_white {
    @extend .icon_heard;
    background: url(../assets/svg/heart_white.svg) center/cover no-repeat;
  }

  .description_text_home {
    @extend .description_text;
  }

  .description_text_home p:nth-child(1) {
    font-size: 25px;
    font-weight: 600;
    padding-top: 10px;
    margin: 0;
    color: $primary-color;
  }

  .description_text_home p:nth-child(2) {
    padding: 0;
    margin: 0;
    line-height: 18px;
    padding-top: 10px;
    color: $primary-color;
  }

  .about-us-section {
    @include flexCenter(column, center, center);
  }

  .about-us-section_container {
    padding-top: 100px;
    @include gridCenter(2);
    width: 90%;
    margin: 0 auto;
  }

  .flex-direction {
    @include flexCenter(row, center, center);
  }

  .about-us-section_earth > img {
    width: 140px;
    padding-right: 50px;
  }

  .about-us-section_light > img {
    width: 94px;
    padding-right: 50px;
  }

  .flex-direction > p {
    font-size: 30px;
    width: 362px;
    color: #fa9500;
    text-align: center;
  }

  .galery_section {
    @include flexCenter(column, center, center);
    .carrusel_img {
      @include flexCenter(row, space-evenly, center);
      img {
        width: 28vw;
        height: 45vh;
        object-fit: cover;
        border-radius: 16px;
        object-position: 5px 35%;
        &:hover {
          transform: scale(1.1);
          transition-duration: 0.3s;
        }
      }
      margin-top: 100px;
    }
  }

  .maps_section {
    @include flexCenter(column, center, center);
  }

  .maps_section figure {
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
  }

  .maps_section-address {
    margin: 50px 0px 50px 80px;
  }

  .maps_section-address > p {
    color: #fa9500;
    margin: 0;
  }
  .maps_section-address p:nth-child(1) {
    font-weight: $size_md;
    font-size: 35px;
    line-height: 50px;
  }

  .maps_section-address p:nth-child(2) {
    font-weight: $size_m;
    font-size: 25px;
  }

  .maps_section h2 {
    margin-bottom: 100px;
  }

  .maps {
    background: url(../assets/img/galery/maps.png) center/cover no-repeat;
    width: 1300px;
    height: 596px;
  }

  @media (max-width: 500px) {
    body {
      margin: 0;
      padding: 0;
    }

    .first_section {
      @include flexCenter(column-reverse, center, center);
    }

    .health_section {
      @include flexCenter(column, center, center);
      min-height: 100vh;
      width: 120vh;
    }

    .first_section_title {
      padding: 0;
      text-align: center;
    }

    .health_section-container {
      @include gridCenter(1);
      width: 100%;
    }

    .target-second_section {
      width: 400px;
      height: 500px;
    }

    .target-second_section > img {
      height: 330px;
      width: 315px;
    }

    .about-us-section_container {
      @include gridCenter(1);
    }

    .galery_section .carrusel_img {
      @include flexCenter(column, center, center);
    }

    .galery_section .carrusel_img img {
      width: 143vw;
      height: 68vh;
      padding-bottom: 30px;
    }

    .galery_section .carrusel_img img {
      border-radius: 90px;
    }
  }
}

footer {
  margin: 100px 0px 0px 0px;
  padding-left: 40px;
  background-color: #fa9500;
  color: $primary-color;

  img {
    height: 37px;
    width: 37px;
    margin-right: 20px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }

  .social_media {
    @include flexCenter(row, center, center);
    margin-bottom: 30px;
  }
}
